{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-header bg-dark text-white">

        <h1 class="h4 mb-0">
            Detalhes do Usuário
        </h1>

    </div>

    <div class="card-body">

        <dl class="row">

            <dt class="col-sm-4">
                Usuário
            </dt>

            <dd class="col-sm-8">
                {{ usuario.username }}
            </dd>

            <dt class="col-sm-4">
                Nome
            </dt>

            <dd class="col-sm-8">
                {{ usuario.get_full_name|default:"-" }}
            </dd>

            <dt class="col-sm-4">
                E-mail
            </dt>

            <dd class="col-sm-8">
                {{ usuario.email|default:"-" }}
            </dd>

            <dt class="col-sm-4">
                CPF
            </dt>

            <dd class="col-sm-8">
                {{ usuario.cpf }}
            </dd>

            <dt class="col-sm-4">
                RG
            </dt>

            <dd class="col-sm-8">
                {{ usuario.rg|default:"-" }}
            </dd>

        </dl>

        <a
            href="{% url 'usuarios:lista_criar' %}"
            class="btn btn-secondary"
        >
            Voltar
        </a>

    </div>

</div>

{% endblock %}